{% extends "base.html" %} {% block title %} Settings {% endblock %} {% block start%}

<div class="message-div-setting">
    <div class="persnal-info">
        <i class="fa-regular fa-user mx-3"></i><span>Personal information</span>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="persnal-info">
        <i class="fa-solid fa-lock mx-3"></i><span>Privacy and security</span>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="persnal-info">
        <i class="fa-solid fa-chart-line mx-3"></i><span>Your Activety!</span>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="persnal-info">
        <i class="fa-solid fa-ban mx-3"></i><span>Blocks!</span>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="persnal-info">
        <i class="fa-regular fa-eye mx-3"></i><span>See Profile!</span>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
</div>



{% comment %} end this here block dont enter this fild {% endcomment %}
</div>
</div>
</main>

{% endblock %}