.message-container{
    display: grid;
    grid-template-areas: 
    'letf'
    'rightt';
    gap: 15px;
    width: 650px;
}
.left-message-div{
    grid-area: letf;
}
.right-message-div{
    grid-area: rightt;
}

.message-div{
    width: 100%;
    height: 650px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(171, 170, 170);
    display: flex;
    flex-direction: column;
    
}

.left-message-div{
    
    height: 120px;
    overflow-y: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(171, 170, 170);
}
.right-message-div{
    height: 650px;
}

.message-user-div{
    padding: 10px;
    width: 100%;
}
.chat-user{
    height: 100px;
}

.chat-user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgb(171, 170, 170);
}
.chat-box-with-input{
    width: 100%;
    height: 100%;
    position: relative;
}

.textarea-chat{
    width: 100%;    
}
.textarea-chat textarea{
    height: 50px;
    padding:10px;
}
.write-chat-box-and-send-btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 10px 10px 10px;
}


.write-chat-box-and-send-btn form{
    display: flex;
}


.present-chat-here{
    width: 100%;
    margin-top: 10px;
    overflow-x: hidden;
    padding: 20px;
    
}
.chat{
    width: 100%;
    height: 100%;
}

.chat p{
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f2f2ee;
    border-radius: 10px;
}